.header {
  box-shadow: 5px 5px 20px gray;
  max-width: 100%;
}

.brand {
  color: white;
  margin-left: 2%;
  padding: 0.8rem;
  width: 23%;
}

.search-box {
  border: none;
  display: inline-block;
  height: 2.5rem;
  width: calc(100% - 2.5rem);
}

.search-button {
  background-color: #dadada;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
}
