// variables
$search-bar-background-color: #dadada;
$search-bar-height: 2.5rem;
$search-bar-border: none;

.header {
  box-shadow: 5px 5px 20px gray;
  display: flex;
}

.brand {
  color: white;
  margin-left: 2%;
  padding: 0.8rem;
  width: 23%;
}

.search-box-container {
  display: flex;
}

.search-box {
  border: $search-bar-border;
  display: inline-block;
  height: $search-bar-height;
}

.search-button {
  background-color: $search-bar-background-color;
  border: $search-bar-border;
  flex: none;
  height: $search-bar-height;
  width: 2.5rem;
}

.dropdown {
  background-color: $search-bar-background-color;
  border: $search-bar-border;
  flex: none;
  font-weight: 600;
  height: $search-bar-height;
  padding-left: 0.5rem;
}

.login-container {
  color: white;
  display: inline-block;
  margin: 1.7rem 0.2rem 0 0;
  text-align: right;
  width: 15%;

  h5 {
    display: inline-block;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .user-icon {
    font-size: 1.3rem;
    margin-right: 0.4rem;
    padding: 0.2rem;
  }
}

.cart-wishlist {
  margin-left: 1rem;
  margin-top: 1.7rem;
  width: 8%;

  .list-item {
    color: white;
    display: inline-block;
    font-size: 1.3rem;
    list-style-type: none;
    margin-right: 0.5rem;
  }
}
