<div class="header bg-dark">
  <div class="brand my-1">
    <h1>eStore</h1>
  </div>
  <!-- Search -->
  <div class="p-0 my-4 w-50 h-25 bg-white search-box-container">
    @if(displaySearch) {
    <select #categoryOptions class="dropdown p0 m0">
      @for(category of categoryStore.topLevelCategories$| async; track $index) {
      <option value="{{ category.id }}">{{ category.category }}</option>
      }
    </select>
    <input
      #keyword
      type="text"
      class="form-control search-box"
      placeholder="Search..."
      (keydown.enter)="onClickSearch(keyword.value, categoryOptions.value)"
    />
    <button
      class="search-button"
      (click)="onClickSearch(keyword.value, categoryOptions.value)"
    >
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
    }
  </div>

  <!-- Sign In/ Login -->
  <div class="login-container p-0">
    <fa-icon [icon]="faUserCircle" class="user-icon"></fa-icon>
    <h5><a routerLink="login">Sign in / Join</a></h5>
  </div>

  <!-- Cart Wishlist -->
  <div class="cart-wishlist p-0 list-item">
    <button class="btn btn-dark position-relative" (click)="navigateToCart()">
      <fa-icon [icon]="faShoppingCart"></fa-icon>
      @if(cartStoreItem.cart$ | async; as cart) { @if(cart.totalProducts > 0) {
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark"
      >
        {{ cart.totalProducts }}
      </span>
      } }
    </button>
  </div>
</div>
