<div class="container">
  <div class="text-center">
    <h2>Become A Member</h2>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="userSignupForm">
    <div class="row form-group-margin">
      <div class="form-group col-md-6">
        <label for="firstName">First Name*</label>
        <input
          class="form-control"
          formControlName="firstName"
          id="firstName"
          placeholder="Enter first name"
          type="text"
        />
        @if (firstName?.touched && firstName?.errors?.["required"]) {
          <span class="text-danger">First Name is required</span>
        }
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input
          class="form-control"
          formControlName="lastName"
          id="lastName"
          placeholder="Enter last name"
          type="text"
        />
      </div>
    </div>

    <div class="form-group form-group-margin">
      <label for="address">Address</label>
      <input
        class="form-control"
        formControlName="address"
        id="address"
        placeholder="Enter address"
        type="text"
      />
    </div>

    <div class="form-group form-group-margin">
      <label for="city">City</label>
      <input
        class="form-control"
        formControlName="city"
        id="city"
        placeholder="Enter city"
        type="text"
      />
    </div>

    <div class="form-group form-group-margin">
      <label for="address">State</label>
      <input
        class="form-control"
        formControlName="state"
        id="state"
        placeholder="Enter state"
        type="text"
      />
    </div>

    <div class="form-group form-group-margin">
      <label for="pin">Pin / Zip code</label>
      <input
        class="form-control"
        formControlName="pin"
        id="pin"
        placeholder="Enter Pin / Zip code"
        type="text"
      />
    </div>

    <div class="form-group form-group-margin">
      <label for="email">Email*</label>
      <input
        class="form-control"
        formControlName="email"
        id="email"
        placeholder="Enter email"
        type="text"
      />
      @if (email?.touched && email?.errors?.["required"]) {
        <span class="text-danger">First Name is required</span>
      }
      @if (email?.touched && email?.errors?.["email"]) {
        <span class="text-danger">Enter valid email address</span>
      }
    </div>
    <div class="form-group form-group-margin">
      <label for="password">Password*</label>
      <input
        class="form-control"
        formControlName="password"
        id="password"
        placeholder="Enter password"
        type="password"
      />
      @if (password?.touched && password?.errors?.["required"]) {
        <span class="text-danger">Password is required</span>
      }
    </div>

    <div class="form-group form-group-margin">
      <label for="confirmPassword">Confirm Password*</label>
      <input
        class="form-control"
        formControlName="confirmPassword"
        id="confirmPassword"
        placeholder="Confirm password"
        type="password"
      />
      @if (confirmPassword?.touched && confirmPassword?.errors?.["required"]) {
        <span class="text-danger">Confirm Password is required</span>
      }
      <!-- form level validation -->
      @if (
        confirmPassword?.touched && userSignupForm.errors?.["passwordMismatch"]
      ) {
        <span class="text-danger">Passwords don't match</span>
      }
    </div>
    <div class="text-center form-group-margin">
      <button
        [disabled]="userSignupForm.invalid"
        class="btn btn-warning"
        type="submit"
      >
        Join
      </button>
    </div>
    @if (alertMessage) {
      <div
        class="alert"
        [ngClass]="{
          'alert-success': alertType === 0,
          'alert-warning': alertType === 1,
          'alert-danger': alertType === 2,
        }"
      >
        {{ alertMessage }}
      </div>
    }
  </form>
</div>
