.navigation-container {
  background-color: #1f1e1e;
  border-top: #444 solid 1px;
  max-width: 100%;

  li {
    display: inline-block;
    height: 2.5rem;
    list-style-type: none;
    margin: 0.2rem 1rem;
    padding: 0.4rem;

    a {
      color: white;
      font-size: 0.9rem;
      font-weight: 700;
      height: 1.8rem;
      text-decoration: none;

      &::after {
        background-color: red;
        bottom: 0;
        content: "";
        display: block;
        height: 0.2rem;
        left: 0;
        transform: scaleX(0);
        transition-duration: 0.2s;
        transition-property: transform;
      }

      &:hover::after {
        transform: scaleX(1.1);
      }
    }
  }
}
