@use "../../../../styles.scss" as *;

.side-navigation {
  border-radius: 1rem;
  box-shadow: 1px 0px 14px 0px lightgray;
  height: 97%;
  margin-top: 1rem;
  padding: 0.6rem;

  .section-title {
    padding: 1rem;

    h3 {
      text-align: center;
    }
  }

  .individual-category {
    ul {
      padding: 0;
    }

    .sub-items {
      list-style-type: none;
      margin-bottom: 0.6rem;
      text-align: center;

      a {
        color: black;
        cursor: pointer;
        text-decoration: none;
        @include underline-transition(0.5);
      }
    }
  }
}
